In [1]:
import numpy as np
from numpy import transpose, trace, multiply, power, dot
from numpy.linalg import multi_dot, matrix_power
import scipy.stats as ss
from scipy.special import comb
import pandas as pd
import time
from tqdm import tqdm
import seaborn as sns
sns.set()
import matplotlib.pyplot as plt
import data_gen as dg
import stat_test as st

# Power in the pure symmetrical case

In [17]:
# Set seed
np.random.seed(seed=13)

In [18]:
# Test parameters
N_rep = 500
level = 0.05

In [19]:
# Data generation parameters
n = 300
K = 10
exact = True

In [20]:
# Initialize error dataframes
range_a = np.arange(0.6,1,0.1)
range_b = np.arange(0.1,0.5,0.1)
power_degree = np.zeros((len(range_a),len(range_b)))
power_SQ = np.zeros((len(range_a),len(range_b)))
power_PET = np.zeros((len(range_a),len(range_b)))

In [21]:
# Run simulations
for k in tqdm(range(N_rep)):
    time.sleep(0.01)
    for i in range(len(range_a)):
        for j in range(len(range_b)):
            A = dg.sample_alt_adj_matrix_sym(n, K, range_a[i], range_b[j], exact)
            power_degree[i,j] += st.degree_test(A, level)['reject']
            power_SQ[i,j] += st.SQ_test(A, level)['reject']
            power_PET[i,j] += st.PET_test(A, level)['reject']
power_degree = power_degree/N_rep
power_SQ = power_SQ/N_rep
power_PET = power_PET/N_rep

100%|██████████| 500/500 [03:32<00:00,  2.36it/s]

In [23]:
# Construct power dataframes
power_degree_df = pd.DataFrame(power_degree, np.round(range_a,2), np.round(range_b,2))
power_SQ_df = pd.DataFrame(power_SQ, np.round(range_a,2), np.round(range_b,2))
power_PET_df = pd.DataFrame(power_PET, np.round(range_a,2), np.round(range_b,2))

In [24]:
power_degree_df

       0.1    0.2    0.3    0.4
0.6  0.660  0.150  0.086  0.042
0.7  0.888  0.298  0.128  0.054
0.8  0.990  0.598  0.242  0.120
0.9  1.000  0.826  0.386  0.212

In [26]:
power_SQ_df

     0.1  0.2    0.3   0.4
0.6  1.0  1.0  0.958  0.09
0.7  1.0  1.0  1.000  0.88
0.8  1.0  1.0  1.000  1.00
0.9  1.0  1.0  1.000  1.00

In [27]:
power_PET_df

     0.1  0.2   0.3    0.4
0.6  1.0  1.0  0.93  0.086
0.7  1.0  1.0  1.00  0.830
0.8  1.0  1.0  1.00  1.000
0.9  1.0  1.0  1.00  1.000

# Power in the mixed membership symmetrical case

In [41]:
# Set seed
np.random.seed(seed=13)

In [42]:
# Test parameters
N_rep = 500
level = 0.05

In [43]:
# Data generation parameters
n = 300
K = 10
exact = True

In [44]:
# Initialize error dataframes
range_a = np.arange(0.6,1,0.1)
range_b = np.arange(0.1,0.5,0.1)
power_degree = np.zeros((len(range_a),len(range_b)))
power_SQ = np.zeros((len(range_a),len(range_b)))
power_PET = np.zeros((len(range_a),len(range_b)))

In [45]:
# Run simulations
for k in tqdm(range(N_rep)):
    time.sleep(0.01)
    for i in range(len(range_a)):
        for j in range(len(range_b)):
            A = dg.sample_alt_adj_matrix_sym(n, K, range_a[i], range_b[j],False)
            power_degree[i,j] += st.degree_test(A, level)['reject']
            power_SQ[i,j] += st.SQ_test(A, level)['reject']
            power_PET[i,j] += st.PET_test(A, level)['reject']
power_degree = power_degree/N_rep
power_SQ = power_SQ/N_rep
power_PET = power_PET/N_rep

100%|██████████| 500/500 [03:04<00:00,  2.70it/s]

In [37]:
# Construct power dataframes
power_degree_df = pd.DataFrame(power_degree, np.round(range_a,2), np.round(range_b,2))
power_SQ_df = pd.DataFrame(power_SQ, np.round(range_a,2), np.round(range_b,2))
power_PET_df = pd.DataFrame(power_PET, np.round(range_a,2), np.round(range_b,2))

In [38]:
power_degree_df

       0.1    0.2    0.3    0.4
0.6  0.054  0.034  0.048  0.046
0.7  0.042  0.058  0.058  0.048
0.8  0.058  0.044  0.042  0.062
0.9  0.078  0.040  0.056  0.058

In [39]:
power_SQ_df

       0.1    0.2    0.3    0.4
0.6  0.036  0.050  0.034  0.046
0.7  0.046  0.044  0.044  0.058
0.8  0.034  0.036  0.046  0.042
0.9  0.062  0.038  0.054  0.036

In [40]:
power_PET_df

       0.1    0.2    0.3    0.4
0.6  0.042  0.048  0.042  0.048
0.7  0.038  0.052  0.068  0.066
0.8  0.056  0.042  0.046  0.040
0.9  0.084  0.032  0.042  0.038

# Power in the non-symmetrical case

In [ ]:
# Set seed
np.random.seed(seed=13)